/* Variables */
:root {
  --side-bar-height: 55vh;
  --colour-carousel: rgb(31, 31, 37);
  --image-num: 10;
  --duration: 12s; /* Always * 2 of Image Num */
  --right1: calc((var(--image-num) - 1) * (-100% / var(--image-num)));
  --right2: calc((var(--image-num) - 2) * (-100% / var(--image-num)));
  --right3: calc((var(--image-num) - 3) * (-100% / var(--image-num)));
  --right4: calc((var(--image-num) - 4) * (-100% / var(--image-num)));
  --right5: calc((var(--image-num) - 5) * (-100% / var(--image-num)));
  --right6: calc((var(--image-num) - 6) * (-100% / var(--image-num)));
  --right7: calc((var(--image-num) - 7) * (-100% / var(--image-num)));
  --right8: calc((var(--image-num) - 8) * (-100% / var(--image-num)));
  --right9: calc((var(--image-num) - 9) * (-100% / var(--image-num)));
  --right10: calc((var(--image-num) - 10) * (-100% / var(--image-num)));
  --delay2: calc(var(--duration) / var(--image-num));
  --delay3: calc(2 * var(--duration) / var(--image-num));
  --delay4: calc(3 * var(--duration) / var(--image-num));
  --delay5: calc(4 * var(--duration) / var(--image-num));
  --delay6: calc(5 * var(--duration) / var(--image-num));
  --delay7: calc(6 * var(--duration) / var(--image-num));
  --delay8: calc(7 * var(--duration) / var(--image-num));
  --delay9: calc(8 * var(--duration) / var(--image-num));
  --delay10: calc(9 * var(--duration) / var(--image-num));
}


/* Main Styles */
html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-image: url("../images/space.png");
}
.background {
  width: 100%;
  padding: 1px;
}
.hidden {
  visibility: hidden;
}
.side-bar-main {
  position: absolute;
  top: 200;
  left: 20px;
  z-index: 999;
}


/* Desktop Layout */
.side-bar-left, .side-bar-right {
  position: absolute;
  top: var(--side-bar-height);
  z-index: 999;
  left: 20px;
  width: 40%;
}

/* Mobile Layout - Shrink textboxes from 1200px to 700px */
@media (max-width: 1200px) {
  .side-bar-left, .side-bar-right {
    position: absolute;
    margin-bottom: 20px;
    transition: width 0.3s ease;
  }
  .side-bar-left, .side-bar-right {
    width: 40%;
  }
  @media (max-width: 1000px) {
    .side-bar-left, .side-bar-right {
      width: 40%;
    }
  }
}

/* Mobile Layout */
@media (max-width: 750px) {
  .side-bar-left, .side-bar-right {
    position: static;
    width: 100%;
  }
  .side-bar-right {
    order: 1;
    margin-top: 20px;
  }
}



/* Text Styles */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
  padding-left: 40px;
}
.align-right {
  text-align: right;
  padding-right: 40px;
}
.titleBlack {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow:
    0 0 5px #ebb8ee,
    0 0 10px #ebb8ee,
    0 0 15px #ebb8ee,
    0 0 20px #ebb8ee,
    0 0 25px #ebb8ee,
    0 0 30px #ebb8ee,
    0 0 35px #ebb8ee,
    0 0 25px #ebb8ee,
    0 0 30px #ebb8ee,
    0 0 35px #ebb8ee;
}
.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.paragraphBlack {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-weight: bold;
  text-shadow:
    0 0 5px #ebb8ee,
    0 0 10px #ebb8ee,
    0 0 15px #ebb8ee,
    0 0 20px #ebb8ee,
    0 0 25px #ebb8ee,
    0 0 30px #ebb8ee,
    0 0 35px #ebb8ee,
    0 0 25px #ebb8ee,
    0 0 30px #ebb8ee,
    0 0 35px #ebb8ee;
}
.paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}
.mini {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.title-pic {
  transform: scale(0.25);
  object-fit: contain;
  z-index: 1;
}
.title-pic:hover {
  filter: brightness(0.9);
}
.title-pic:active {
  filter: brightness(0.8);
  transform: scale(0.2);
}


/* Button Styles */
.button-regular{
  height: 80px;
  width: 211px;
  background-image: url("../images/button.png");
}
.button-large{
  height: 80px;
  width: 333px;
  background-image: url("../images/button_large.png");
}
.button-small{
  height: 80px;
  width: 89px;
  background-image: url("../images/button_small.png");
}
.button-left{
  position: relative;
  left: 40px;
}
.button-right{
  position: relative;
  right: 40px;
  float: right;
  margin-left: 200px; 
}
.button-center {
  display: flex;
  justify-content: center;
}
.button-margined {
  margin-bottom: 35px; 
}
.button-style {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  transition: 0s;
  overflow: visible;
  line-height: 85px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
.button-style:hover {
  filter: brightness(0.9);
}
.button-style:active {
  filter: brightness(0.8);
  transform: scale(0.95);
}
.quit-button {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 999;
}



/* Button Row Styles*/
.pin-settings-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    margin-top: -1vw;
    transform: scale(0.8); 
}
.pin-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  margin: -2vw auto 0 auto;
  max-width: 90vw;
  padding: 0 1vw;
  transform: scale(0.8);
}
.button-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5vw;
  flex: 1 1 calc(8% + 5px);
  max-width: 6vw;
  min-width: 40px;
}
.button-icon img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
.button-icon span {
  color: white;
  font-size: 0.7vw;
  margin-top: 0.3vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


/* Images */
.about-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flag {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
}
.little-pic {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
}


/* Draggable Styles */
.draggable {
  position: absolute;
  top: calc(48% + 6px);
  left: 2%;
  cursor: grab;
  background-image: url("../images/draggable.png");

  padding: 20px 20px;
  border: 20px solid transparent;
  border-image: url("../images/draggable_border.png") 30 fill stretch;
}
.non-draggable {
  position: absolute;
  top: calc(48% + 6px);
  left: 2%;
  background-image: url("../images/draggable.png");

  padding: 20px 20px;
  border: 20px solid transparent;
  border-image: url("../images/draggable_border.png") 30 fill stretch;
}



/* Carousel Styles */
.carousel-speed-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.slider-button {
  color: black;
  font-weight: bold;
  position: relative;
  width: 330px;
  height: 80px;
  background-image: url("../images/button_large.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-button input[type="range"] {
    width: 80%; 
}



.media-carousel {
  position: relative;
  top: -1.5vw;
  width: 100vw;
  height: 40vw;
  margin: 0 auto;
  overflow: hidden;
  transform: scale(0.8);
}
.media-carousel-track {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  align-items: center;
}
.media-carousel-caption {
  position: absolute;
  bottom: 0; 
  width: max-content;
  left: 50%;
  transform: translateX(-50%) translateY(40%);
  font-size: 1vw;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.6);
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  pointer-events: none;
  text-align: left;
}
.carousel-media-item {
  flex: 0 0 auto;
  margin: 0 4vw;
  position: relative;
  display: inline-block;
  width: 15vw;
}
.carousel-media-image {
  width: 100%;
  height: 100%;
  transform: translateX(0%) translateY(-10%);
  display: block;
}
.carousel-media-icon {
  width: 30%;
  transform: translateX(-40%) translateY(-660%);
  display: block;
}


.grimbly-carousel {
  position: relative;
  top: -1.5vw;
  width: 90vw;
  height: 12vw;
  margin: 0 auto;
  overflow: hidden;
  transform: scale(0.8);
}
.carousel-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
.carousel-mask {
  position: absolute;
  top: 0;
  left: 40px;
  width: calc(100% - 80px);
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.carousel-track {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  align-items: center;
}
.carousel-grimbly-item {
  flex: 0 0 auto;
  margin: 0 4vw;
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 6vw;
}
.carousel-grimbly-item img {
  width: 100%;
  height: 100%;
  display: block;
}
.carousel-caption {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%) translateY(20%);
  font-size: 0.7vw;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.6);
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  pointer-events: none;
  white-space: nowrap;
}
.carousel-border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}