/* Main Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  width: 100%;
  padding: 1px;
}
.bg {
  position: fixed;
  inset: 0;
  background-image: url("../images/enter/colourful.gif");
  background-repeat: repeat;
  background-size: 30%;
  background-attachment: fixed;
  filter: brightness(0.2);
  z-index: 0;
  pointer-events: none;
}


.button-style {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  transition: 0s;
  overflow: visible;
  line-height: 85px;
  font-weight: bold;
  font-size: 16px;
}
.button-style:hover {
  filter: brightness(0.9);
  transform: translateX(-50%);
}
.button-style:active {
  filter: brightness(0.5);
  transform: scale(0.95);
  transform: translateX(-50%);
}

.title {
  position: absolute;
  top: 10px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 2;
}
.counter-regular{
  height: 80px;
  width: 211px;
  background-image: url("../images/button.png");
}
.counter-center {
  display: flex;
  justify-content: center;
}
.counter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  transition: 0s;
  overflow: visible;
  line-height: 85px;
  font-weight: bold;
  font-size: 16px;
}


/* Entry Styles */
.entry-wrapper {
  width: 95vw;
  height: 34vw;
  margin: 0 auto;
  overflow: visible;
  transform: scale(0.95);
  transform-origin: center;
  justify-content: center;
  align-self: center;
  padding-left: 4vw;
}
.entry-holder {
  width: 70vw;
  height: 20vw;
  left: -2vw;
  top: 4vw;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  justify-content: center;
}
.entry-back {
  background-image: url("../images/space.png");
  background-size: 120px;
  position: absolute;
  width: 26vw;
  height: 26vw;
  top: -5%;
  left: 50%;
  z-index: -1;
  pointer-events: none;
  transform: translateX(-50%);
}
.entry-border {
  position: absolute;
  width: 41.8vw;
  height: 47.08vw;
  top: -10%;
  left: 50%;
  z-index: 1;
  pointer-events: none;
  transform: translateX(-50%);
}
.button-enter {
  position: absolute;
  width: 20vw;
  height: 4vw;
  top: 30%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.title-pic {
  position: absolute;
  width: 14vw;
  height: 3vw;
  left: 26vw;
  top: 10%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.counter-nums {
  position: absolute;
  left: 26vw;
  top: 57%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}